<% if (success.length > 0) { %>
  <div class="alert alert-success shadow-lg my-2">
    <span><%= success %></span>
  </div>
<% } %>

<% if (error.length > 0) { %>
  <div class="alert alert-error shadow-lg my-2">
    <span><%= error %></span>
  </div>
<% } %>