<!DOCTYPE html>
<html>

<head>
    <script async src="https://cdn.jsdelivr.net/npm/@clerk/clerk-js@latest/dist/clerk.browser.js"
        data-clerk-publishable-key="<%= process.env.CLERK_PUBLISHABLE_KEY %>"></script>
</head>

<body>
    <script>
        window.onload = () => {
            Clerk.load().then(() => {
                Clerk.openSignIn({
                    redirectUrl: "/"
                });
            });
        };
    </script>

</body>

</html>