<% layout("boilerplate/boilerplate") %>

<div class="flex flex-col justify-center items-center mt-4">

  <div id="sign-in"></div>

  <script>
    window.onload = () => {
      Clerk.load().then(() => {
        Clerk.mountSignIn(document.getElementById("sign-in"), {
          redirectUrl: "/"
        });
      });
    };
  </script>

  <a href="/" class="btn btn-neutral mt-4">Back to Home</a>

</div>
