<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoryShare</title>
    <link href="/src/output.css" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png">
    <meta name="theme-color" content="#000000">
</head>
<body class="mx-auto md:w-10/12 md:w-100">
    <%- include("../includes/navbar") %>
    <%- body %>
    <%- include("../includes/footer") %>

    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@clerk/clerk-js@5/dist/clerk.browser.js"
        data-clerk-publishable-key="<%= process.env.CLERK_PUBLISHABLE_KEY %>"
        crossorigin="anonymous" async></script>
    <script>
        dayjs.extend(dayjs_plugin_relativeTime);

        // Replace each element’s text with its "time ago"
        document.querySelectorAll("[data-time]").forEach(el => {
          el.textContent = dayjs(el.dataset.time).fromNow();
        });
    </script>

    <!-- Web App -->
    <script>
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
    }
    </script>

</body>
</html>
